Repository fvbalmeida/crypto-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

chore: add config files
  .dockerignore
  .editorconfig
  .eslintrc.js
  .gitignore
  .lintstagedrc
  .prettierignore
  .prettierrc
  .vscode/settings.json
  README.md
  nest-cli.json
  package-lock.json
  package.json
  tsconfig.build.json
  tsconfig.json
Due: eslint

chore: add database config
  src/app.module.ts
  src/infra/database/database.module.ts
  src/infra/database/datasource.ts
  src/infra/database/db.config.ts
Due: eslint, prettier --write

feat: add migrations files
  src/infra/database/migrations/1724000672857-user-table.ts
  src/infra/database/migrations/1724089913145-user-cryptocurrency-table.ts
  src/infra/database/migrations/1724089923058-cryptocurrency-table.ts
Due: eslint, prettier --write

feat: add modules
  src/main.ts
  src/modules/auth/auth.module.ts
  src/modules/cryptocurrency/cryptocurrency.module.ts
  src/modules/dashboard/dashboard.module.ts
  src/modules/user/user.module.ts
Due: eslint, prettier --write

feat: add models, interfaces and repositories
  src/infra/database/interface/create-crypto.interface.ts
  src/infra/database/interface/create-user-cryptocurrency.interface.ts
  src/infra/database/interface/create-user-interface.ts
  src/infra/database/models/cryptocurrency/cryptocurrency.ts
  src/infra/database/models/user/user-cryptocurrency.ts
  src/infra/database/models/user/user.entity.ts
  src/infra/database/repositories/cryptocurrency.repository.ts
  src/infra/database/repositories/user-cryptocurrency.repository.ts
  src/infra/database/repositories/user.repository.ts
Due: eslint, prettier --write

feat: add controllers
  src/modules/auth/auth.controller.ts
  src/modules/cryptocurrency/cryptocurrency.controller.ts
  src/modules/dashboard/dashboard.controller.ts
  src/modules/user/user.controller.ts
Due: eslint, prettier --write

feat: implement jwt feature
  src/modules/auth/auth.service.ts
  src/modules/auth/dto/login.dto.ts
  src/modules/auth/strategies/jwt.strategy.ts
  src/modules/auth/strategies/local.strategy.ts
Due: eslint, prettier --write

feat: dashboard service
  src/modules/dashboard/dashboard.service.ts
Due: eslint, prettier --write

feat: add services and interfaces
  src/modules/cryptocurrency/cryptocurrency.service.ts
  src/modules/cryptocurrency/dto/create-user-crypto.dto.ts
  src/modules/dashboard/interface/crypto-info.interface.ts
  src/modules/user/dto/create-user.dto.ts
  src/modules/user/user.service.ts
Due: eslint, prettier --write

fix: remove unused files
  .gitignore
  .vscode/settings.json
Due: none

chore: edit readme
  README.md
Due: none

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: src/**/*.ts
